# Model files
models/best.onnx
models/best.pt
models/best.trt
**/*.pt
**/*.onnx
**/*.trt

# backup files
**/*.backup


# Windows metadata
**/*:Zone.Identifier


# Ignore Python cache files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.egg-info/
**/*.egg
**/*.eggs/
**/dist/
**/develop-eggs/
**/build/
**/.env/
**/.venv/
**/venv/
**/ENV/
**/env/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/pip-wheel-metadata/

# Ignore VSCode settings
.vscode/
